@model IEnumerable<ProductViewModel>


<h1>Liste des produits</h1>
<a asp-controller="Product" asp-action="Add" class="btn btn-primary">Ajouter</a> 

<ul>
    @foreach(ProductViewModel product in Model) {

        <li>
            @product.Name - @product.Price

            @if(product.Description != null) {
                <br />
                @product.Description
            }
        </li>
    }
</ul>